HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!/logs/
!/local-repo/
!/.mvn/
!/.idea/
!/target/
!/scripts/
!/.idea/

!/.mvn/

!/local-repo/

!/logs/

!/out/
!/BACKUP.MD

!/ESTRUTURA_DISTRIBUICAO.MD

!/HOW_TO_DO.md

!/INSTALL-OFFLINE.MD
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/google-java-format.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/shelf/Changes.xml
/.idea/shelf/Changes/shelved.patch
/.idea/workspace.xml
!/src/main/resources/static/
!/local-repo/
!/.idea/
/target/
/src/main/resources/static/img/
!/src/main/resources/static/favicon.ico
